body{
    font-family: calibri;
}
#house{
    top: 0;
    left: 0;
    width: 45%;
    height: 90%;
    background-image: url(image/bg.jpg);
    position: fixed;
    background-size: cover;
}
#room{
    width: 400px;
    height: 100%;
    margin-left: 140%;
    margin-top: 12%;
}
.con{
    position: absolute;
    height: 20px;
    width: 53%;
    margin-top: 11px;
    margin-left: 2px;
    background-color: whitesmoke;
    border: 0;
    padding: 5px;
}
.btn{
    padding: 8px;
    width: 80%;
    background-color: red;
    color: white;
    margin-top: 6px;
    border: 0;
}
.ion{
    position: absolute;
    height: 20px;
    width: 53%;
    margin-top: 12px;
    margin-left: 2px;
    background-color: whitesmoke;
    border: 0;
    padding: 5px;
}
.logo{
    width: -80%;
    margin-top: -50%;
}
.elec{
    color: brown;
}
.forn{
    color: brown;
}
.join{
    color: brown;
}